   * {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

body {
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
  color: #8e8d8d;
}  

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(120deg, #ffe893, #fcefd8);
  color:#f7ad00;
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px;
}


.logo {
  font-size: 15px;
  font-weight: 600;
}

.logo span {
  color: #ffe893 ;
}
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: #ffb300;
  text-decoration: none; 
  transition: color 0.2s;   
}

.nav-links a:hover {
  color:#d9d9d9;
}



/* hero section */



 .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 20px; 
   
} 
.hero-image img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #bdab82;
  margin: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: white; 
  filter: contrast(45%)
}
.hero-image img:hover{
    filter: blur(0)
}


.hero-content {
  max-width: 550px; 
  margin: 20px; 
  background:linear-gradient(120deg, #fffcf2, #fff0d5);
  border-radius: 10px;
  text-align: center;
 
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero-content h1 span {
  color: #f7ad00;
  font-size: 50px;
}
.hero-content h1 span:hover{
     color:#525252;
}

.hero-content p {
  margin-bottom: 20px;
  line-height: 1.6;
}

 .btn {
  padding: 10px 20px;  
  background: #ffb400;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.3s;
} 

.btn:hover {
   background: #e09e00; 
} 

         /* skils section */
.skills {
  text-align: center;
  padding: 60px 20px; 
}


.skills h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color:#ffb400;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
   background: #ffffff; 
  padding: 25px;
  width: 250px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: 0 5px 5px rgb(255, 202, 123);
  transition: transform 0.3s;
  color:#8e8d8d;
}

.card:hover {
  transform: translateY(-8px);
  background: linear-gradient(120deg, #ffe893, #fcefd8);
  color: #7b7b7b;
   transform: scale(1.05);
}



.card h3 {
  color: #ffb300;
  margin-bottom: 10px;
}

           /* contact section */

.contact {
  text-align: center;
  padding: 50px 20px;
  background: #1a1a1a;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.contact a {
  color: #ffb400;
  text-decoration: none;
}
.contact p span{
  color: #ffb400;
}

 .social-links {
  margin-top: 20px;
}
.social-links a:hover {
  color: #ffb400;
}



